*{
  box-sizing: border-box;
}

body{
  width: 320px;
  height: 480px;
  text-align: center;
  margin: 0 auto;
}

h1{
  font-family: sans-serif;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.box{
  background-color:aqua;
  width: 100px;
  height: 100px;
  font-size: 90px;
  font-family: sans-serif;
  margin: 1px;
  cursor: pointer;

}

/*.box:hover{
  background-color: transparent;
}*/

.winner{
  background-color: red;
  color: white;
}

p{
  font-size: 20px;
  font-family: sans-serif;
}